
canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    background: white;
}

input {
    font-size: 0.5rem;
}

.selector {
    right: 0;
}

.etc {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1000;
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    .dg.main {
        width: 100px !important;
        font-size: 8px;
    }
    .close-button {
        width: 100px !important;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1000;
    font-size: 0.75rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .control-button {
        width: 30px;
        height: 30px;
        border-radius: 25%;
    }
}